#Python 3.12.6
pandas==1.5.3
openpyxl==3.1.5
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
numpy==1.26.0
statsmodels==0.14.4
seaborn==0.13.2
matplotlib==3.7.1
linearmodels==6.1
Flask==3.0.3
streamlit==1.37.1
matplotlib-inline==0.1.7